<tr>
  <td>
    <% # TODO show in local time %>
    <%= link_to row[:created_at], row[:path] %>
  </td>
  <td>
    <%= t("flex.application_forms.statuses.#{row[:status]}") %>
  </td>
  <td>
    TODO
  </td>
</tr>
