<%= content_for :title, "Your cases" %>

<h1>Your cases</h1>

<nav>
  <ul class="usa-nav__secondary-links">
    <li><a href="#" class="usa-current">Assigned</a></li>
    <li><a href="#">Completed</a></li>
    <li><a href="#">On hold</a></li>
  </ul>
</nav>

<div class="usa-form usa-form--filters margin-bottom-4">
  <div class="grid-row grid-gap">
    <div class="grid-col-12 tablet:grid-col-3">
      <label for="filter_case_type">Filter by case type</label>
      <select id="filter_case_type" name="case_type" class="usa-select">
        <option value="">All cases</option>
      </select>
    </div>
  </div>
</div>

<div class="usa-table-container--scrollable">
  <table class="usa-table usa-table--striped usa-table--borderless width-full font-mono text-no-wrap">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cases.each do |kase| %>
        <tr>
          <%= kase.id %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
