

<%#
  Case Row Partial
  
  Renders a table row for displaying case information in a list view.
  This partial is typically used within a table to display individual case records.
  
  Required Parameters:
  - kase: A Case object that contains the case data to display
  
  Usage Example:
    render partial: 'case_row', locals: { kase: @case }
  
  Rendered Output:
  - A table row (<tr>) with three columns:
    1. Case ID
    2. Formatted creation date (MM/DD/YYYY)
    3. "View" button linking to the case detail page
%>
<tr>
  <td><%= kase.id %></td>
  <td><%= kase.created_at.strftime('%m/%d/%Y') %></td>
  <td>
    <%= link_to "View", polymorphic_path(kase), class: "usa-button usa-button--outline" %>
  </td>
</tr>
