<%% content_for :case_summary do %>
  <p>Place your case summary here</p>
<%% end %>

<%% content_for :case_details do %>
  <p>Place your case details here, such as buttons, etc.</p>
<%% end %>

<%%%= render template: 'flex/cases/show', locals: { 
  model_class: <%= name.classify %> # Replace `<%= name.classify %>` with your Flex Case class to use 
} %>
