<% content_for :title, presenter.title %>

<h1>
  <%= presenter.title %>
</h1>

<p class="usa-intro">
  <%= presenter.intro %>
</p>

<%= link_to presenter.new_button_text, "new", class: class_names("usa-button") %>

<% if not presenter.application_forms.empty? %>

<% end %>
