<label class="usa-label" for="filter_tasks">Filter by due date</label>
<select class="usa-select" id="filter_tasks" name="filter_tasks">
  <option value="all">All dates</option>
  <option value="overdue">Overdue</option>
  <option value="today">Today</option>
  <option value="tomorrow">Tomorrow</option>
  <option value="this_week">This week</option>
</select>