name: Update flex

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Only allow one workflow at a time to prevent race conditions when pushing changes to the project repo
concurrency: cd

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - repo: navapbc/pfml-starter-kit-app
            app: demo
    steps:
      - name: Checkout project repo
        uses: actions/checkout@v4
        with:
          path: project-repo
          repository: ${{ matrix.project.repo }}
          token: ${{ secrets.PLATFORM_BOT_GITHUB_TOKEN }}

      - name: Configure git
        working-directory: project-repo
        run: |
          git config user.name nava-platform-bot
          git config user.email platform-admins@navapbc.com
          git config --global url."https://nava-platform-bot:${{ secrets.PLATFORM_BOT_GITHUB_TOKEN }}@github.com/navapbc/".insteadOf "https://github.com/navapbc/"

      - name: Update flex
        working-directory: project-repo
        run: cd ${{ matrix.project.app }} && bundle update flex

      - name: Commit changes
        working-directory: project-repo
        run: |
          git add .
          git commit -m "Update flex to latest version" || echo "No changes to commit"

      - name: Push changes to project repo
        working-directory: project-repo
        run: git push
