name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: ${{ matrix.make_command }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        make_command: [lint-ci, test]

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1

      - name: Install dependencies
        run: bundle install && npm install --prefix spec/dummy

      - run: make ${{ matrix.make_command }}
